body {
    font-family: Helvetica;
    color: white;
    background-color: #5672d1;
}
header {
    text-align: center;
}
main ul {
    padding: 0;
    text-align: center;
}
main ul li {
    display: inline-block;
    list-style-type: none;
    padding: 3%;
}
li p {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}
li img {
    border-radius: 50%;
    width: 100%;
}
li button {
    width: 50%;
}
.opaque {
    opacity: .3;
}